/* Pixelify Sans (Variable) */
@font-face {
  font-family: "Pixelify Sans";
  src: url("/fonts/Pixelify_Sans/PixelifySans-VariableFont_wght.ttf")
    format("truetype");
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
}

/* Roboto (Variable) */
@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto/Roboto-VariableFont_wdth,wght.ttf")
    format("truetype");
  font-style: normal;
  font-weight: 100 1000;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto/Roboto-Italic-VariableFont_wdth,wght.ttf")
    format("truetype");
  font-style: italic;
  font-weight: 100 1000;
  font-display: swap;
}

/* Roboto Mono (Variable) */
@font-face {
  font-family: "Roboto Mono";
  src: url("/fonts/Roboto_Mono/RobotoMono-VariableFont_wght.ttf")
    format("truetype");
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
}

@font-face {
  font-family: "Roboto Mono";
  src: url("/fonts/Roboto_Mono/RobotoMono-Italic-VariableFont_wght.ttf")
    format("truetype");
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
}

:root {
 
  --pb-font-content: "Roboto";
  --pb-font-header: "Pixelify Sans", var(--pb-font-content);
  --pb-font-mono: "Roboto Mono",
    ui-monospace,
    SFMono-Regular,
    Menlo,
    Monaco,
    Consolas,
    "Liberation Mono",
    monospace;

  
  --bg-dark: #111111;
  --green-neon: #00ff00;
  --blue-deep: #0033aa;
  --purple-retro: #711d9a;
  --purple-alt: #a42db4;
  --cyan-neon: #00ffd0;
  --text-white: #f4f4ff;
}

body {
  margin: 0;
  background: var(--bg-dark);
  color: var(--text-white);
}
